html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@font-face {
    font-family: "Dela Gothic One";
    src: url("./fonts/Dela_Gothic_One/DelaGothicOne-Regular.ttf");
    font-display: swap;
  }

* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input,textarea {
    border: none;
    border-radius: 3px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Manrope';
}

label {
    font-family: 'Manrope';
}

input[type="submit"] {
    font-family: 'Jura';
    transition: all 0.3s ease-in-out;
}

input[type="submit"]:hover {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

input:focus, textarea:focus {
    outline: none;
}

/*
=============================================
=============================================
=============================================
=============================================
=============================================
=============================================
=============================================
=============================================
=============================================
=============================================
=============================================
=============================================
*/


html {
    scroll-behavior: smooth;
  }



/* HEADER STYLES */


button, img, svg, .dotted-line, .price-tag, iframe, video {
    user-select: none;
}

body *::selection {
    background:#C64317;
    color: white;
}

header *::selection, #sandwich *::selection, #my-sandwich *::selection {
    background: #9B191F;
    color: white;
}

#thrakopsomo *::selection {
    background: #F8EAD4;
    color: #9B191F;
}

#vromiko *::selection {
    background: #FFBA34;
    color: #38153F;
}

#club-hot-dogs *::selection {
    background: #630077;
    color: white;
}

#burgers *::selection {
    background: #FFBA34;
    color: black;
}

#salates *::selection {
    background: #218000;
    color: white;
}

#merides *::selection {
    background: #F2D6A2;
    color: #67211D;
}

footer *::selection {
    background: #9B191F;
    color: white;
}

#copyright *::selection {
    background: #21201E;
    color: white;
}

button {
    border: none;
}

button:hover {
    cursor: pointer;
}

button,a,h3,h4,h6 {
    font-family: Jura;
}

h1,h2,h5 {
    font-family: 'Dela Gothic One';
}

p,span {
    font-family: 'Manrope';
}

h1 {
    font-weight: 500;
    font-size: 56px;
}

a {
    text-decoration: none;
}

#burger-menu {
    display: none;
    margin-right: 15px;
}

#burger-menu:hover {
    cursor: pointer;
}

.menu-category-showcase img.mobile-menu-food-image {
    display: none;
}

header {
    height: 252px;
}

#navbar > #logo {
    opacity: 100%;
    transition: all 0.2s ease-in-out;
}

#navbar > #logo.invisible {
    opacity: 0%;
    transition: all 0.2s ease-in-out;
}

#navbar > #logo > img {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

#navbar > #logo > img.invisible {
    transform: scale(0.1);
    transition: all 0.3s ease-in-out;
}

#navbar > #logo > img:nth-of-type(1).hidden {
    display: none;
}

#navbar > #logo > img:nth-of-type(1).sticky {
    transform: scale(0.71);
    transition: all 0.3s ease-in-out;
}

#navbar > #logo > img:nth-of-type(2).hidden {
    display: none;
}

#navbar > #logo > img:nth-of-type(2).sticky {
    transform: scale(0.71);
}

#navbar > #logo > img:nth-of-type(2) {
    display: none;
}

header {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    justify-content: space-between;
    align-items: center;
    background-color: #F8EAD4;
    z-index: 10;
    width: 100%;
    transition: all 0.2s ease-in-out;
}

header#navbar a#logo.hidden {
    display: none;
}

#navbar.sticky {
    position: fixed;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 80px;
    box-shadow: 0 6px 8px rgba(0,0,0,0.1);
    transition: all 0.2s ease-in-out;
    background-color: rgb(248,234,212);
    backdrop-filter: blur(8px);
}

#sandwich.spaced {
    padding-top: 252px;
}

.content {
    padding: 16px;
}

#section h1 {
    text-shadow: -2px 2px 6px rgba(0, 0, 0, 0.15);
    font-family: 'Dela Gothic One';
    font-size: 56px;
    margin-top: 120px;
}

/* section#burgers {
    padding-top: 174px;
} */

#logo, #weekly-offer {
    //position: absolute;
}

header#navbar #logo {
    padding-top: 40px;
}


#weekly-offer {
    right: 0;
    top: 0;
}

header nav {
    margin-bottom: 30px;
}

header nav.small {
    margin-bottom: 0;
}

nav, nav > ul, nav > ul > li {
    display: inline;
}

.nav-item > a {
    width: 100%;
}

.nav-item a {
    color: #846060;
    font-weight: 400;
}

.nav-item a:hover {
    color: #9B191F;
}

.nav-item a.active {
    color: #9B191F;
    font-weight: 700;
}

.nav-item a.active:hover {
    color: #9B191F;
}

.top-nav-item:not(.top-nav-item:nth-of-type(1)):not(.top-nav-item:nth-of-type(9)) {
    margin: 0 20px;
}

.top-nav-item:nth-of-type(1) {
    margin-right: 20px;
}

.top-nav-item:nth-of-type(6) {
    margin-left: 20px;
}


#mobile-nav {
    background: rgba(33, 32, 30, 1);
    /* backdrop-filter: blur(20px); */
    position: fixed;
    z-index: 10;
    max-width: 304px;
    top: 0;
    width: 0;
    border-bottom-right-radius: 15px;
    box-shadow: none;
    transition: all 0.3s ease-in-out;
}

#mobile-nav > ul > li > a {
    font-size: 0.000000001px;
    color: white;
    display: block;
    padding: 15px 0;
    transition: all 0.2s ease-in-out;
}

#mobile-nav.visible {
    width: 70vw;
    box-shadow: 4px 4px 12px 4px rgba(0, 0, 0, 0.25);
}

#mobile-nav.hidden {
    display: none;
}

#mobile-nav > ul > li > a.visible {
    font-size: 30px;
    transition: font 0.3s ease-in-out;
}

#mobile-nav > ul > li > a img.visible {
    width: initial;
    transition: all 0.3s ease-in-out;
}

#mobile-nav > ul > li > a img {
    width: 0;
    transition: all 0.3s ease-in-out;
}


#mobile-nav > ul > li > a:hover {
    color: #ffcd15;
    transition: all 0.2s ease-in-out;
}

#mobile-nav > ul > li:nth-of-type(2) > a {
    margin-top: 5px;
}

#mobile-nav > ul > li:nth-of-type(9) > a {
    margin-bottom: 25px;
}


.mobile-nav-item {
    text-align: center; 
}

.mobile-nav-item > a {
    text-shadow: -2px 2px 4px rgba(0,0,0,0.4);
}




/* MENU SECTION */

section > h1 {
    margin: 120px 0 140px 0;
    display: inline-block;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-category-showcase {
    display: flex;
    align-items: center;
    margin-bottom: 120px;
}

.menu-category-showcase .right {
    margin-left: 60px;
}

.menu-category-showcase .left, .menu-category-showcase .right {
    display: inline-block;
}

.menu-category-showcase .left .right {
    display: none;
}

.menu-category-showcase img {
    display: flex;
    max-height: 560px;
}

.food-title {
    font-size: 30px;
    text-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
}

.food-price {
    font-size: 20px;
}

.food-description {
    font-size: 18px;
    line-height: 25px;
    margin: 30px 0 0px 0;
}

.food-title, .food-price {
    display: inline-block;
}

.food-price {
    margin-left: 30px;
}

.food-list {
    position: relative;
}

.food-list-food {
    display: inline-flex;
    flex-direction: column;
}

.food-list-food h3 {
    font-family: 'Dela Gothic One';
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    text-shadow: -2px 2px 3px rgba(0, 0, 0, 0.2);
    display: inline-flex;
}

.food-list-food p {
    font-size: 18px;
    line-height: 25px;
    display: inline-block;
}

.food-list-food + div {
    display: inline-flex;
    align-items: baseline;
    transform: translateY(25px);
    right: 0;
}

.food-list li {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 7px 0;
}

.food-list .dotted-line {
    /* width: 350px; */
    height: 20px;
    display: inline-flex;
    margin-left: 10px;
    font-family: 'Dela Gothic One';
    font-size: 14px;
    opacity: 70%;
    overflow: hidden;
}

.food-list .price-tag {
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    right: 0;
    margin-left: 10px;
}

.details {
    padding: 90px 0 120px 0;
    
}

.details p {
    text-align: center;
}

.details p br {
    display: none;
}



/* SANDWICH MENU SECTION */

section#sandwich {
    background-color: #F8EAD4;
}


#sandwich h1 {
    margin: 160px 0 90px 0;
    color: #9B191F;
}

#sandwich .food-price, #sandwich .food-list .price-tag {
    color: #9B191F;
    text-shadow: 3px 3px #FFC700;
}

#sandwich .food-title {
    color: #9B191F;
}

#sandwich .food-description {
    color: #383838;
    max-width: 537px;
}

#sandwich .food-list {
    max-width: 857px;    
}

#sandwich .food-list .price-tag {
    color: #9B191F;
    text-shadow: 3px 3px 0px #FFC700;
}

#sandwich .food-list .dotted-line {
    color: #982A3A;
}

#sandwich .food-list-food h3 {
    color: #9B191F;
}

#sandwich .food-list-food p {
    color: #383838;
}


#sandwich .details p {
    max-width: 980px;
    color: #9B191F;
}





/* THRAKOPSOMO MENU SECTION */

section#thrakopsomo {
    background-color: #982A3A;
}

#thrakopsomo h1 {
    color: #FFB72B;
}

#thrakopsomo .food-price, #thrakopsomo .food-list .price-tag {
    color: #F2D6A2;
    text-shadow: 2px 2px 0px #1B1B1B;
}

#thrakopsomo .food-title {
    color: #FFBA34;
}

#thrakopsomo .food-description {
    color: #F8F1E3;
    max-width: 700px;
}

#thrakopsomo .food-list {
    max-width: 1186px;    
}

#thrakopsomo .food-list .dotted-line {
    color: #F8F1E3;
    opacity: 50%;
}

#thrakopsomo .food-list-food h3 {
    color: #FFBA34;
}

#thrakopsomo .food-list-food p {
    color: #F8F1E3;
    max-width: 680px;
}

#thrakopsomo .details p {
    max-width: 980px;
    color: #F2D6A2;
}




/* VROMIKO MENU SECTION */

section#vromiko {
    background-color: #38153F;
}

#vromiko h1 {
    color: #FF90B5;
}

#vromiko .food-price, #vromiko .food-list .price-tag {
    color: #FFBA34;
    text-shadow: 2px 2px 0px #000000;
}

#vromiko .food-title {
    color: #FF90B5;
}

#vromiko .food-description {
    color: #F8F1E3;
    max-width: 520px;
}

#vromiko .food-list {
    max-width: 1200px;    
}

#vromiko .food-list .dotted-line {
    color: #F2D6A2;
    opacity: 50%;
}

#vromiko .food-list-food h3 {
    color: #FF90B5;
}

#vromiko .food-list-food p {
    color: #F8F1E3;
    max-width: 680px;
}

#vromiko .details p {
    max-width: 980px;
    color: #F2D6A2;
}




/* CLUB - HOT DOGS MENU SECTION */

section#club-hot-dogs {
    background-color: #FFBA34;
}

#club-hot-dogs h1 {
    color: #630077;
    text-align: center;
}

#club-hot-dogs .food-title {
    text-shadow: -2px 2px 3px rgba(255, 255, 255, 0.6);
}

#club-hot-dogs .food-list-food h3 {
    text-shadow: -2px 2px 3px rgba(255, 255, 255, 0.6);
}

#club-hot-dogs .food-price, #club-hot-dogs .food-list .price-tag {
    color: #630077;
    text-shadow: 2px 2px 0px #FFFFFF;
}

#club-hot-dogs .food-title {
    color: #630077;
}

#club-hot-dogs .food-description {
    color: #242424;
    max-width: 550px;
}

#club-hot-dogs .food-list {
    max-width: 1000px;    
}

#club-hot-dogs .food-list .dotted-line {
    color: #630077;
    opacity: 50%;
}

#club-hot-dogs .food-list-food h3 {
    color: #630077;
}

#club-hot-dogs .food-list-food p {
    color: #242424;
    max-width: 680px;
}

#hot-dog .food-description {
    max-width: 470px;
}

#club-hot-dogs .details p {
    max-width: 980px;
    color: #F2D6A2;
}



/* BURGERS MENU SECTION */

section#burgers {
    background-color: #21201E;
}

#burgers h1 {
    color: #FFB72B;
}

#burgers .food-price, #burgers .food-list .price-tag {
    color: #F2D6A2;
    text-shadow: 2px 2px 0px #1B1B1B;
}

#burgers .food-title {
    color: #FFB72B;
}

#burgers .food-description {
    color: #F8F1E3;
    max-width: 590px;
}

#burgers .food-list {
    max-width: 1200px;    
}

#burgers .food-list .dotted-line {
    color: #F2D6A2;
    opacity: 50%;
}

#burgers .food-list-food h3 {
    color: #FFB72B;
}

#burgers .food-list-food p {
    color: #F8F1E3;
    max-width: 600px;
}

#burgers .details p {
    max-width: 1100px;
    color: #F2D6A2;
}



/* SALADS MENU SECTION */

section#salates {
    background-color: #E7FFE9;
}

#salates h1 {
    color: #218000;
}

#salates .food-price, #salates .food-list .price-tag {
    color: #324D55;
    text-shadow: 3px 3px 0px #FFD600;
}

#salates .food-title {
    color: #218000;
}

#salates .food-description {
    color: #242424;
    max-width: 530px;
}

#salates .food-list {
    max-width: 1000px;    
}

#salates .food-list .dotted-line {
    color: #324D55;
    opacity: 50%;
}

#salates .food-list-food h3 {
    color: #218000;
}

#salates .food-list-food p {
    color: #242424;
    max-width: 700px;
}

#salates .details p {
    max-width: 1100px;
    color: #F2D6A2;
}


/* MERIDES MENU SECTION */

section#merides {
    background-color: #67211D;
}

#merides h1 {
    color: #FFB72B;
}

#merides .food-price, #merides .food-list .price-tag {
    color: #F2D6A2;
    text-shadow: 2px 2px 0px #1B1B1B;
}

#merides .food-title {
    color: #FFB72B;
}

#merides .food-description {
    color: #F8F1E3;
    max-width: 590px;
}

#merides .food-list {
    max-width: 1050px;    
}

#merides .food-list .dotted-line {
    color: #F2D6A2;
    opacity: 50%;
}

#merides .food-list-food h3 {
    color: #FFB72B;
}

#merides .food-list-food p {
    color: #F8F1E3;
    max-width: 600px;
}

#merides .details p {
    max-width: 1100px;
    color: #F2D6A2;
}




/* MY SANDWICH MENU SECTION */


section#my-sandwich {
    background-color: #F8EAD4;
}


#my-sandwich h1 {
    margin: 160px 0 90px 0;
    color: #9B191F;
    text-align: center;
}

#my-sandwich .food-price, #my-sandwich .food-list .price-tag {
    color: #9B191F;
    text-shadow: 3px 3px #FFC700;
}

#my-sandwich .food-title {
    color: #9B191F;
}

#my-sandwich .food-description {
    color: #383838;
    max-width: 560px;
}

#my-sandwich .food-list {
    max-width: 857px;    
}

#my-sandwich .food-list .price-tag {
    color: #9B191F;
    text-shadow: 3px 3px 0px #FFC700;
}

#my-sandwich .food-list .dotted-line {
    color: #982A3A;
}

#my-sandwich .food-list-food h3 {
    color: #9B191F;
}

#my-sandwich .food-list-food p {
    color: #383838;
}


#my-sandwich .details p {
    max-width: 980px;
    color: #9B191F;
}

#ingredients {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1050px;
}

#ingredients ul {
    margin: 0 70px;
}

#ingredients ul h5 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    color: #982A3A;
}

#ingredients ul li {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

#ingredients ul li span:nth-of-type(1) {
    color: #504E4C;
    font-size: 20px;
}

#ingredients ul li span:nth-of-type(2) {
    margin-left: 20px;
    font-size: 18px;
    color: #982A3A;
    text-shadow: 2px 2px 4px #FFBA34;
}

#ingredients #tyria {
    margin-left: 0;
}

#ingredients #extras {
    margin-right: 0;
}

#kreatika h5 {
    margin-top: 100px;
}

#sauce h5 {
    margin-top: 100px;
}




/* FOOTER SECTION */

footer {
    height: 420px;
    background-color: #21201E;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#footer-nav, .footer-nav {
    display: inline-block;
    vertical-align: middle;
}

.footer-nav h6 {
    font-size: 30px;
    line-height: 24px;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 40px;
}

.footer-nav ul {
    display: flex;
    flex-direction: column;
    max-width: 260px;
}

.footer-nav ul li a {
    display: block;
    font-size: 20px;
    line-height: 24px;
    color: #FFD88D;
    padding: 10px 0;
    transition: color 0.2s ease-in-out;
}

.footer-nav ul li a:hover {
    color: #ffcd15;
    transition: color 0.2s ease-in-out;
}

.footer-nav {
    margin: 0 35px;
}

nav#footer-nav1 ul {
    text-align: left;
    display: inline-flex;
    flex-wrap: wrap;
    margin-right: 30px;
}

nav#footer-nav1 li.nav-item a.active {
    color: #FFD88D;
    font-weight: 400;
}

#footer-nav2 p {
    font-size: 18px;
    color: #C2C2C2;
    line-height: 149.8%;
}

#footer-nav2 > p > a {
    color: #FFBA34;
    font-family: 'Manrope';
    font-size: 20px;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

#footer-nav2 > p > a:hover {
    color: #f41623;
    transition: all 0.3s ease-in-out;
}

/* COPYRIGHT FOOTER */

#copyright {
    background-color: #9B191F;
    box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.15);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#copyright p, #copyright p > a {
    color: rgba(255,255,255,0.9);
    font-size: 14px;
    font-weight: 300;
    display: inline;
    font-family: 'Manrope';
}

#copyright p > a {
    text-decoration: underline;
}

#copyright p > a:hover {
    color: #ffcd15;
}

#copyright p:nth-of-type(1) {
    margin-left: 10vw;
}

#copyright p:nth-of-type(3) {
    margin-right: 10vw;
}



/* TELEPHONE POP-UP */

#telephone-popup {
    position: sticky;
    display: inline-flex;
    align-items: center;
    float: right;
    right: 30px;
    bottom: 30px;
    background: rgba(33,32,30,0.8);
    backdrop-filter: blur(8px);
    box-shadow: 0px 0px 27px #AD0008;
    border-radius: 65px;
    transition: all 0.2s ease-in-out;
}

#telephone-popup p {
    display: inline;
    padding: 16px 50px;
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 38px;
    letter-spacing: 0.5px;
    color: white;
    transition: all 0.2s ease-in-out;
}

#telephone-popup img {
    padding: 20px;
    background: #920000;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

#telephone-popup:hover {
    box-shadow: 0px 0px 25px 2px #ad0008;
    background: white;
    transition: all 0.2s ease-in-out;
}

#telephone-popup:hover p {
    color: #21201E;
    transition: all 0.2s ease-in-out;
}

#telephone-popup:hover img {
    background: #21201E;
    transition: all 0.2s ease-in-out;
}

#telephone-popup.hidden {
    position: absolute;
}



/* RESPONSIVENESS */
/* RESPONSIVENESS */
/* RESPONSIVENESS */
/* RESPONSIVENESS */
/* RESPONSIVENESS */
/* RESPONSIVENESS */
/* RESPONSIVENESS */
/* RESPONSIVENESS */
/* RESPONSIVENESS */
/* RESPONSIVENESS */
/* RESPONSIVENESS */
/* RESPONSIVENESS */
/* RESPONSIVENESS */
/* RESPONSIVENESS */
/* RESPONSIVENESS */
/* RESPONSIVENESS */
/* RESPONSIVENESS */
/* RESPONSIVENESS */
/* RESPONSIVENESS */
/* RESPONSIVENESS */
/* RESPONSIVENESS */
/* RESPONSIVENESS */
/* RESPONSIVENESS */
/* RESPONSIVENESS */
/* RESPONSIVENESS */
/* RESPONSIVENESS */
/* RESPONSIVENESS */
/* RESPONSIVENESS */


/* small desktop screens */

@media (max-width: 1600px) {
    iframe {
        margin-left: 60px;
    }
}

@media (max-width: 1555px) {
    nav#footer-nav1, nav#footer-nav2 {
        margin-right: 0;
    }

    iframe {
        width: 420px;
    }

    .footer-nav {
        margin: 0 10px;
    }

    footer > a > img {
        width: 150px;
    }
}

@media (max-width: 1440px) {
    #weekly-offer {
        display: none;
    }

}


/* mobile/tablet devices */

@media (max-width: 1240px) {
    
    .menu-category-showcase {
        flex-direction: column;
        align-items: center;
    }

    .menu-category-showcase .right {
        margin-left: 0;
        margin-top: 60px;
    }

    iframe {
        margin-left: 0;
    }

}

@media (max-width: 1200px) {
    .top-nav-item:not(.top-nav-item:nth-of-type(1)):not(.top-nav-item:nth-of-type(9)) {
        margin: 0 15px;
    }

    footer {
        height: 1100px;
        flex-direction: column;
    }

    nav#footer-nav1 {
        margin-right: 50px;
    }

    iframe {
        width: 80%;
        height: 400px;
        margin: 50px 0;
    }

    footer > a > img {
        width: initial;
        margin: 50px 0;
    }
}

@media (max-width: 1030px) {
    #ingredients ul {
        margin: 0;
    }
}

@media (max-width: 1000px) {

    #telephone-popup p {
        display: none;
    }

    #telephone-popup img {
        background: #21201e;
        padding: 15px;
    }

    /* header */

    nav#top-nav {
        display: none;
    }

    #navbar.sticky {
        justify-content: space-between;
    }

    header {
        flex-direction: row;
        height: 150px;
    }

    header#navbar #logo {
        padding-top: 0;
        padding-left: 15px;
    }

    header#navbar.sticky #logo {
        padding-left: 0;
    }

    #burger-menu {
        display: flex;
        flex-direction: column;
    }

    #burger-menu > img:nth-of-type(1) {
        margin-bottom: 2px;
        transform-origin: 0% 50%;
        transform: rotate(0deg);
        transition: all 0.3s ease-in-out;
    }

    #burger-menu > img:nth-of-type(2) {
        margin: 5px 0;
        opacity: 1;
        transition: all 0.3s ease-in-out;
    }

    #burger-menu > img:nth-of-type(3) {
        transform-origin: 0% 50%;
        transform: rotate(0deg);
        transition: all 0.3s ease-in-out;
    }


    /* burger menu icons classes */

    #burger-menu > img:nth-of-type(1).animate-icon {
        transform: rotate(45deg);
        transition: all 0.3s ease-in-out;
    }

    #burger-menu > img:nth-of-type(3).animate-icon {
        transform: rotate(-45deg);
        transition: all 0.3s ease-in-out;
    }

    #burger-menu > img:nth-of-type(2).animate-icon {
        opacity: 0;
        transform: scale(0.1);
        transition: all 0.3s ease-in-out;
    }


    /* menu */

    .menu-category-showcase img.mobile-menu-food-image {
        display: block;
        width: 250px;
        margin: 30px auto;
        align-self: center;
    }

    .left, .right {
        text-align: center;
    }

    .food-description {
        text-align: left;
        padding: 0 20px;
    }

    .food-list p.dotted-line {
        display: none;
    }

    .food-price {
        margin-left: 15px;
    }

    .food-list li:nth-of-type(odd) {
        border-radius: 15px;        
    }
    
    .menu-category-showcase .right {
        margin-left: 0;
    }
    
    .food-list li {
        padding: 20px 0;
        position: relative;
    }

    .food-list-food + div {
        position: absolute;
        top: 0px;
        right: 15px;
    }

    .food-list .price-tag {
        font-size: 24px;
    }
    
    .food-list-food p {
        margin-top: 15px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .food-list-food h3 {
        max-width: 450px;
        margin-left: 15px;
    }
    
    .details {
        padding: 90px 0 90px 0;
    }

    .details p br {
        display: initial;
    }


    #sandwich .food-list, #thrakopsomo .food-list, #vromiko .food-list, #club-hot-dogs .food-list, #burgers .food-list, #salates .food-list, #merides .food-list, #my-sandwich .food-list {
        max-width: 857px;
    }
    
    #sandwich .food-list li:nth-of-type(odd) {
        background: #FFF5E7;
    }
    
    #thrakopsomo .food-list li:nth-of-type(odd) {
        background: #812432;
    }

    #vromiko .food-list li:nth-of-type(odd) {
        background: #4D1D57;
    }
    
    #club-hot-dogs .food-list li:nth-of-type(odd) {
        background: #ffcb68;
    }
    
    #burgers .food-list li:nth-of-type(odd) {
        background: #131313;
    }

    #salates .food-list li:nth-of-type(odd) {
        background: #D1FFD5;
    }

    #merides .food-list li:nth-of-type(odd) {
        background: #5C110D;
    }



    /* footer */

    img#footer-logo {
        margin-left: 0;
    }
    
    .footer-nav ul li a {
        font-size: 24px;
    }

    #copyright {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 120px;
        
    }
    
    #copyright > p {
        margin: 10px 0 !important;
    }

}



@media (max-width: 875px) {
    
    .food-list li:nth-of-type(odd) {
        border-radius: 0;
    }
    
    .details {
        width: 100%;
    }

    .details:not(#vromiko .details, #club-hot-dogs .details, #salates .details, #my-sandwich .details) {
        box-shadow: inset 0px 2px 15px rgba(0, 0, 0, 0.25);
    }

    .details p {
        font-size: 16px;
        line-height: 22px;
    }

    .details p br {
        display: none;
    }

    #vromiko .details, #club-hot-dogs .details, #salates .details {
        display: none;
    }

}


@media (max-width: 707px) {
    #footer-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer {
        height: 1430px;
    }

    .footer-nav {
        margin: 30px 0px !important;
    }

    .footer-nav h6, .footer-nav ul li a {
        text-align: center;
    }

    footer > a > img {
        width: initial;
    }

    #navbar > #logo > img:nth-of-type(1) {
        display: none;
    }

    #navbar > #logo > img:nth-of-type(2) {
        display: initial;
    }


}

@media (max-width: 657px) {

    #sandwich h1 {
        margin: 90px 0 90px 0;
    }

    h5.food-price {
        font-size: 24px;
        margin-left: 0;
        margin-top: 20px;
    }

    .food-title, .food-price {
        display: block;
    }

    .food-description {
        font-size: 17px;
    }

    .menu-category-showcase {
        max-width: 100%;
    }

    .food-list-food h3 {
        font-size: 20px;
        max-width: 305px;
    }

    .food-list-food p {
        font-size: 16px;
    }

    #ingredients ul {
        margin: 40px 0;
    }

    #ingredients #kreatika h5 {
        margin-top: 0px;
    }

    #ingredients #sauce h5 {
        margin-top: 0px;
    }
}

@media (max-width: 520px) {

    iframe {
        max-width: 90vw;
    }
    
    .food-icons {
        justify-content: center;
    }

    .food-icons .col img {
        padding: 0  30px;
    }

    h1 {
        font-size: 46px;
    }

    .menu-category-showcase .right {
        display: none
    }

    
    .menu-category-showcase .left .right {
        display: initial;
        
    }

    .menu-category-showcase .left .right img {
        width: 350px;
        margin: 50px auto;
    }

    .food-title {
        font-size: 32px;
    }

    .food-price {
        font-size: 20px;
    }

    footer {
        height: 1700px;
    }

    #my-sandwich h1 {
        margin: 90px 0 90px 0
    }

    #my-sandwich .food-description br {
        display: none;
    }

    iframe {
        height: 600px;
        width: 90%;
    }

    nav#footer-nav1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav#footer-nav1 ul, nav#footer-nav2 ul {
        margin-right: 0;
    }

}

@media (max-width: 450px) {
    
    section > h1 {
        margin: 80px 0 80px 0;
    }

    .food-list-food h3 {
        max-width: 215px;
    }
    
    #sandwich h1 {
        font-size: 40px;
    }

    #sandwich .food-title {
        font-size: 28px;
    }

    #thrakopsomo h1 {
        font-size: 38px;
    }
}

@media (max-width: 420px) {
    
    .icon-separator {
        display: none;
    }

    .food-icons {
        flex-direction: column;
    }

    .food-icons .col {
        margin: 25px 0;
    }

    .menu-category-showcase {
        margin-bottom: 50px;
    }
    

}

@media (max-width: 380px) {

    header > a#logo {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 350px) {
    .food-price {
        font-size: 18px;
    }

    .food-title {
        font-size: 30px;
    }
}

@media (max-width: 329px) {
    .food-price {
        margin-left: 5px;
    }
}